.userItem {
	position: relative;
	overflow: hidden;
	max-width: 1024px;
	padding: 20px;
	border-radius: 16px;
	background-color: var(--white);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	cursor: pointer;
	&:hover {
		box-shadow: 0px 2px 8px 0px #00000033;
		.deleteItem {
			transform: translateX(0);
		}
	}
}

.userItemName {
	padding: 32px 24px 32px 0;
	border-right: 1px solid var(--neutral-gray-400);
	font-weight: 400;
}

.userItemEmailAndUsername {
	padding: 32px 0px 32px 24px;
	p {
		.title {
			color: var(--main-blue-850-67);
		}
	}
}

.deleteItem {
	cursor: pointer;
	border: none;
	outline: none;
	height: 100%;
	width: 54px;
	position: absolute;
	right: 0;
	background-color: var(--red-600);
	transform: translateX(100px);
	transition: transform 0.4s ease;
	svg {
		fill: var(--white);
	}
}

@media (max-width: 500px) {
	.userItem {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.deleteItem {
		height: 40px;
		width: 40px;
		right: 25px;
		top: 25px;
		background-color: transparent;
		transform: translateX(0);
		svg {
			fill: var(--red-600);
		}
	}

	.userItemName {
		width: 100%;
		padding: 32px 0px 32px 0;
		border-right: 0;
		border-bottom: 1px solid var(--neutral-gray-400);
		font-weight: 400;
	}

	.userItemEmailAndUsername {
		padding: 32px 0px 32px 0px;
		p {
			.title {
				color: var(--main-blue-850-67);
			}
		}
	}
}
